[submodule "Cobalt"]
	path = Cobalt
	url = git://github.com/cobaltians/Cobalt-iOS.git
[submodule "LocationPlugin"]
	path = LocationPlugin
	url = git://github.com/Cobaltians-Plugins/Plugins-Location-iOS.git
[submodule "Catalog/www/common"]
	path = Catalog/www/common
	url = git://github.com/Cobaltians-Samples/Samples-Catalog-Web.git
[submodule "AppInfosPlugin"]
	path = AppInfosPlugin
	url = git://github.com/Cobaltians-Plugins/Plugins-AppInfos-iOS.git
[submodule "ActionPickerPlugin"]
	path = ActionPickerPlugin
	url = git://github.com/Cobaltians-Plugins/Plugins-ActionPicker-iOS.git
[submodule "Fonts-FontAwesome-iOS"]
	path = Fonts-FontAwesome-iOS
	url = git://github.com/Cobaltians-Fonts/Fonts-FontAwesome-iOS.git
[submodule "NetworkStatusPlugin"]
	path = NetworkStatusPlugin
	url = git://github.com/Cobaltians-Plugins/Plugins-NetworkStatus-iOS.git
[submodule "BatteryStatusPlugin"]
	path = BatteryStatusPlugin
	url = git://github.com/Cobaltians-Plugins/Plugins-BatteryStatus-iOS.git
[submodule "SharePlugin"]
	path = SharePlugin
	url = https://github.com/Cobaltians-Plugins/Plugins-Share-iOS.git
[submodule "PdfPlugin"]
	path = PdfPlugin
	url = git://github.com/Cobaltians-Plugins/Plugins-Pdf-iOS.git
[submodule "Catalog/www"]
	path = Catalog/www
	url = git@github.com:Cobaltians-Samples/Samples-Catalog-Web.git
	branch = cobalt1.0
